@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato',sans-serif;
  color: #505962;
}


/*navigation*/
.logo1 {
  width: 100%;
}
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0,0,0,0.6)!important;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
 padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}
/*--- landing page css---*/

.home-inner {
  background-image: url(img/um.jfif);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  font-weight: 900;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 300;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: : 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding-bottom: .6rem 1.3rem;
  font-size: 1.1rem;
}
/*---- satrt of overview section---*/
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 6rem;
}
.narrow h1 {
  font-size: 2.4rem;
}



/*----- product section ----*/
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}
h3.heading {
 font-size: 1.9rem;
 font-weight: 300;
 text-transform: uppercase;
 margin-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
.products h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.product p {
 font-size: 1.1rem;
}

/*----- start of infa section----*/
.fixed {
  background-image: url(img/infa.jpg);
  z-index: -1;
}
.dark {
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 7rem 2rem;
}
.fixed-background h3{
  margin-bottom: 2rem;
}
.fixed-background p {
margin-top: 1.5rem;
}

/*----- start of client section-----*/




.clients-hr {
  border-top:  .05rem solid #1ebba3;
}
.ordered {
  display: table;
  margin: 0 auto;                /*margin: 0 auto;*/
}
#myGallery{
    position:relative;
    width:400px; /* Set your image width */
    height:300px; /* Set your image height */
 }
#myGallery img{
    display:none;
    position:absolute;
    top:0;
    left:0;
}
#myGallery img.active{
    display:block;
}


/*----- contact section-----*/
footer {
  background-color: #194084 ; /*#40474e;*/
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}
footer img {
  height: 6rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hovor {
  color: #1ebba3!important
}
hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
